In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

df=pd.read_csv(r'C:/Python/datasets/year_genre_region.csv')

#Check the data for missing values and wrongly assigned Dtypes.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_year  1950 non-null   int64
 1   genre         1950 non-null   object
 2   region        1950 non-null   object
 3   sales         1950 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 61.1+ KB

In [3]:
#replace missing values with np.nan
#df=pd.read_csv(r'C:/Python/datasets/year_genre_region.csv', na_values='n/a')


#Parse dates

#df=pd.read_csv(r'C:/Python/datasets/year_genre_region.csv', na_values='n/a', parse_dates=['Last Update'])

df.head()

   release_year     genre         region  sales
0          1980    Action  North America   0.32
1          1980  Fighting  North America   0.72
2          1980      Misc  North America   2.53
3          1980   Shooter  North America   6.56
4          1980    Sports  North America   0.46

In [6]:
df2 = df.filter(regex='Pok')
print(df2)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1950 rows x 0 columns]