In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

df=pd.read_csv(r'C:/Python/datasets/Twitch_game_data_Original.csv',encoding='cp1252')


df.head()

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03

In [38]:
#df.replace(to_replace=['Pok<U+00E9>mon Sword/Shield','Pok<U+00E9>mon Red/Blue','Pok<U+00E9>mon Brilliant Diamond/Shining Pearl'], 
           #value = ['Pokemon Sword/Shield','Pokemon Red/Blue','Pokemon Brilliant Diamond/Shining Pearl'])

df.replace(to_replace ='Pok<U+00E9>mon Sword/Shield',
               value ='Pokemon Sword/Shield')

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...
14395,196,Garry's Mod,12,2021,630902,21753 hours,24951,99,3537,849,29,29.00
14396,197,Call of Duty: Black Ops Cold War,12,2021,622497,223641 hours,26559,654,25366,837,300,2.78
14397,198,Noita,12,2021,620983,13935 hours,27826,41,1961,835,18,44.56
14398,199,Pro Soccer Online,12,2021,619859,606 hours,36182,20,84,834,0,1022.87
14399,200,Pokemon Sword/Shield,12,2021,615725,42291 hours,8878,106,4411,828,56,14.56

In [55]:
data = pd.read_csv(r'C:/Python/datasets/Twitch_game_data_Original.csv',encoding='cp1252', nrows=75)

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
49,50,The Legend of Zelda: Majora's Mask,1,2016,1011289,4379 hours,141110,22,460,1361,5,230.94
50,51,Pok<U+00E9>mon Omega Ruby/Alpha Sapphire,1,2016,992216,20237 hours,11278,61,1428,1335,27,49.03
51,52,Duelyst,1,2016,870056,7939 hours,21769,31,1172,1171,10,109.59
52,53,Garry's Mod,1,2016,847981,35006 hours,26432,133,8326,1141,47,24.22
53,54,Super Mario 64,1,2016,828873,9001 hours,174067,31,1129,1115,12,92.09
54,55,osu!,1,2016,778404,71335 hours,9349,192,14698,1047,96,10.91

In [60]:



df.replace(to_replace ='Pok<U+00E9>mon Omega Ruby/Alpha Sapphire', value= 'Pokemon Omega Ruby/Alpha Sapphire')


df

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...
14395,196,Garry's Mod,12,2021,630902,21753 hours,24951,99,3537,849,29,29.00
14396,197,Call of Duty: Black Ops Cold War,12,2021,622497,223641 hours,26559,654,25366,837,300,2.78
14397,198,Noita,12,2021,620983,13935 hours,27826,41,1961,835,18,44.56
14398,199,Pro Soccer Online,12,2021,619859,606 hours,36182,20,84,834,0,1022.87
14399,200,Pok<U+00E9>mon Sword/Shield,12,2021,615725,42291 hours,8878,106,4411,828,56,14.56

In [59]:
df[49:55]

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
49,50,The Legend of Zelda: Majora's Mask,1,2016,1011289,4379 hours,141110,22,460,1361,5,230.94
50,51,Pok<U+00E9>mon Omega Ruby/Alpha Sapphire,1,2016,992216,20237 hours,11278,61,1428,1335,27,49.03
51,52,Duelyst,1,2016,870056,7939 hours,21769,31,1172,1171,10,109.59
52,53,Garry's Mod,1,2016,847981,35006 hours,26432,133,8326,1141,47,24.22
53,54,Super Mario 64,1,2016,828873,9001 hours,174067,31,1129,1115,12,92.09
54,55,osu!,1,2016,778404,71335 hours,9349,192,14698,1047,96,10.91

In [61]:
df.Game.unique()

array(['League of Legends', 'Counter-Strike: Global Offensive', 'Dota 2',
       ..., 'The Elder Scrolls V: Skyrim Special Edition', 'DNF Duel',
       'Pro Soccer Online'], dtype=object)

In [64]:
df.Hours_Streamed.unique()

array(['1362044 hours', '830105 hours', '433397 hours', ...,
       '21753 hours', '223641 hours', '42291 hours'], dtype=object)

In [68]:
p = df['Hours_Streamed'].str
df['Hours_Streamed'] = np.where(p.endswith(' hours'),p.replace(' hours','',regex=True),p)
df

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio,Price
0,1,League of Legends,1,2016,94377226,1362044,530270,2903,129172,127021,1833,69.29,1362044
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105,372654,2197,120849,64378,1117,57.62,830105
2,3,Dota 2,1,2016,45185893,433397,315083,1100,44074,60815,583,104.26,433397
3,4,Hearthstone,1,2016,39936159,235903,131357,517,36170,53749,317,169.29,235903
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578,71639,3620,214054,21740,1549,14.03,1151578
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14395,196,Garry's Mod,12,2021,630902,21753,24951,99,3537,849,29,29.00,21753
14396,197,Call of Duty: Black Ops Cold War,12,2021,622497,223641,26559,654,25366,837,300,2.78,223641
14397,198,Noita,12,2021,620983,13935,27826,41,1961,835,18,44.56,13935
14398,199,Pro Soccer Online,12,2021,619859,606,36182,20,84,834,0,1022.87,606
14399,200,Pok<U+00E9>mon Sword/Shield,12,2021,615725,42291,8878,106,4411,828,56,14.56,42291

In [72]:
df.Hours_Streamed.unique()

array(['1362044', '830105', '433397', ..., '21753', '223641', '42291'],
      dtype=object)

In [78]:
df = df.dropna(how='any',axis=0) 
df["Hours_Streamed"].astype(np.int64)

0        1362044
1         830105
2         433397
3         235903
4        1151578
          ...
14395      21753
14396     223641
14397      13935
14398        606
14399      42291
Name: Hours_Streamed, Length: 14399, dtype: int64

In [77]:
df.Hours_Streamed.unique()

array(['1362044', '830105', '433397', ..., '21753', '223641', '42291'],
      dtype=object)

In [81]:
df.sort_values("Hours_watched")

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio,Price
999,200,iRacing,5,2016,89811,6595,643,51,630,120,8,13.62,6595
1199,200,The Mean Greens: Plastic Warfare,6,2016,92460,188,20986,9,79,128,0,491.81,188
1198,199,Vampire: The Masquerade - Bloodlines,6,2016,92951,625,6367,6,105,129,0,148.72,625
1799,200,This Is the Police,9,2016,93135,1395,5184,12,424,129,1,66.76,1395
998,199,Age of Empires II,5,2016,93519,3204,750,13,250,125,4,29.19,3204
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12400,1,Just Chatting,3,2021,270395369,3485083,1086313,8309,469545,363923,4690,77.59,3485083
14200,1,Just Chatting,12,2021,271538951,3116407,1006556,8092,396024,365462,4194,87.13,3116407
12800,1,Just Chatting,5,2021,285948196,3522387,983678,7465,462447,384856,4740,81.18,3522387
12600,1,Just Chatting,4,2021,289547911,3544601,937749,8026,474257,402709,4929,81.69,3544601
10200,1,VALORANT,4,2020,344551979,4588347,1728977,15710,319709,479209,6381,75.09,4588347

In [82]:
df.isnull()

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14395,False,False,False,False,False,False,False,False,False,False,False,False,False
14396,False,False,False,False,False,False,False,False,False,False,False,False,False
14397,False,False,False,False,False,False,False,False,False,False,False,False,False
14398,False,False,False,False,False,False,False,False,False,False,False,False,False
14399,False,False,False,False,False,False,False,False,False,False,False,False,False